@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Karla';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('src/assets/fonts/karla.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Mukta';
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url('../assets/fonts/mukta-light.ttf') format('truetype');
    }
    @font-face {
        font-family: 'MuktaBold';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('src/assets/fonts/mukta-semibold.ttf') format('truetype');
    }

    body {
        font: medium karla, 'ui-sans-serif', 'sans-serif';
    }

    h1 {
        font: xx-large muktabold, 'ui-sans-serif', 'sans-serif';
    }

    h2 {
        font: x-large mukta, 'ui-sans-serif', 'sans-serif';
    }

    h3 {
        font: large mukta, 'ui-sans-serif', 'sans-serif';
    }

    p {
        line-height: 1.6;
        margin-block: 1em 1em;
    }
}

.light {
    --background: 235, 235, 235;
    --drawer: 200, 200, 200;
    --drawer-handle: 100, 100, 100;
    --border: 0, 0, 0;
    --text-primary: 0, 0, 0;
    --text-secondary: 15, 25, 40;

    background: rgba(var(--background));
    color: rgba(var(--text-primary));
}

.dark {
    --background: 30, 30, 35;
    --drawer: 23, 23, 23;
    --drawer-handle: 75, 75, 75;
    --border: 255, 255, 255;
    --text-primary: 255, 255, 255;
    --text-secondary: 205, 213, 225;

    background: rgba(var(--background));
    color: rgba(var(--text-primary));
}